html, body { 
	height: 100vh;
    width: 100vw;
	margin: auto;
	overflow: none;

    font-family: 'Lato', sans-serif;
    color: #e6e6e5;
    background-color: #252222;
}
canvas { width: 100%; height: 100% }
* {
	 margin: 0;
	 padding: 0;
}
#slider {
	position: absolute;
	z-index: 1;
}

/* Columns CSS */
.container{
	display: flex;
    justify-content: center;
}

.block {
	float: left;
}

#blockA {
	width: 25vw;
	
}

#blockB {
	width: 50vw;
}

#blockB1 {
	text-align: center;
	height: 10vh;
}

#blockB2 {
	text-align: center;
	height: 90vh;
}

#image {
	width: 100%;
}

#blockC {
	width: 25vw;
	height: 100vh;
	display: inline-block;
}

#blockC1 {
	height: 70vh;
}

#blockC2 {
	height: 30vh;
}

#panels {
	overflow-x: scroll;
	white-space: nowrap;
}

#panel-1 {
	white-space: nowrap;
	display: inline-block;
}

#panel-2 {
	white-space: nowrap;
	display: inline-block;
}

.hide {
	display: none;
}



/* Grid CSS */

#title {
	font-color: white;
}

#explanation {
	font-color: white;
}

/* Legend CSS */

#temp-legend {
	z-index: 1;
	background-color: rgba(255, 255, 255, 0.7);
	margin: 10px;
	width: 135px;
	height: 100px;
	right: 0;
}

#pop-legend {
	z-index: 1;
    background-color: rgba(255, 255, 255, 0.7);
    width: 115px;
    height: 180px;
    margin: 10px;
    right: 0;
}


.legendlabel{
	font-family: 'Lato', sans-serif;
	font-size: 14px;
}

.legendTitle {
    text-align: center;
	font-size: 16px;
	margin: 5px;
	font-weight: bold;
	border-color: #e6e6e5;
    border-bottom-style: solid;
    border-width: 1px;
}

.legendswatch{
	stroke: black;
}

.border{
	border-color: #e6e6e5;
	border-width: 1px;
	border-style: solid;
}

div#legend-1 {
    display: inline-block;
}

div#legend-2 {
    display: inline-block;
}

.legend {
/*	position: fixed;
    display: flex; */
    right: 0;
    bottom: 0;
/*    margin: 10px;
*/}